<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.cooperi.pivy-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/pivy/bin/pivy-agent</string>
        <string>-g</string>
        <string>@@GUID@@</string>
        <string>-K</string>
        <string>@@CAK@@</string>
        <string>-i</string>
        <string>-a</string>
        <string>@@HOME@@/.ssh/pivy-agent.sock</string>
    </array>
    <key>StandardErrorPath</key>
    <string>@@HOME@@/Library/Logs/pivy-agent.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
