*.o
*.a
.*.cbmc
.dist
/libressl/
/openssh/
/pivy-agent
/pivy-tool
/pivy-zfs
/pivy-box
/pivy-luks
/pivy-ca
/pam_pivy.so
/libpivy.so
/libpivy.so.*
/macosx/*.pkg
/macosx/root
/docs/*.svg
/docs/.asciidoctor
/docs/*.html
/.vscode
/.ccls-cache
/.openssh.*
/.libressl.*
/.ctfconvert*
illumos/*.xml
illumos/fs-pivy
illumos/svc-pivy-agent
