<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.cooperi.pivy-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/pivy-agent/bin/pivy-agent</string>
        <string>-g</string>
        <string>@@GUID@@</string>
        <string>-K</string>
        <string>@@CAK@@</string>
    </array>
    <key>StandardOutPath</key>
    <string>@@HOME@@/.ssh/agent.env</string>
    <key>StandardErrorPath</key>
    <string>@@HOME@@/.ssh/agent.out</string>
</dict>
</plist>
