[Unit]
Description=PIV SSH Agent

[Service]
Environment=SSH_AUTH_SOCK=%t/piv-ssh-%I.socket
Environment=PIV_AGENT_OPTS=
EnvironmentFile=%h/.config/pivy-agent/%I
ExecStartPre=/bin/rm -f $SSH_AUTH_SOCK
ExecStart=@@BINDIR@@/pivy-agent -i -a $SSH_AUTH_SOCK -g $PIV_AGENT_GUID -K ${PIV_AGENT_CAK} $PIV_AGENT_OPTS
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
DefaultInstance=default
